<div>
  前情提要：
  <a [routerLink]="path" skipLocationChange >{{lastPost.title}}</a>
  <!--Class-->
  <br>
  <hr class="border-two" />
  <table class='block-catalog'>
    【我的第一篇文章】教學導覽
    <ol>
      <li [class.sub-title]='classNumber == 0'>Angular 專案檔案介紹</li>
      <li [class.sub-title]='classNumber == 1'>建立文章：[Angular]建立元件（Component）& NgModule 簡介
        <ol>
          <li>如何建立元件？</li>
          <li>NgModule 簡介</li>
          <li>Component 簡介</li>
        </ol>
      </li>
      <li [class.sub-title]='classNumber == 2'>撰寫內容：[Angular]資料繫結（Binding）
        <ol>
          <li>MVVM 架構（Model-View-ViewModel）</li>
          <li>內嵌繫結（Interpolation Binding）</li>
          <li>屬性繫結（Property Binding）
            <ol>
              <li>單向繫結（One-Way Binding）</li>
              <li>雙向繫結（Two-Way Binding）</li>
            </ol>
          </li>

          <li>事件繫結（Event Binding）</li>
        </ol>
      </li>
      <li [class.sub-title]='classNumber == 3'>瀏覽文章吧！：[Angular]路由配置（Router）</li>
      <li [class.sub-title]='classNumber == 4'>簡單管理所有文章標題：[Angular]環境變數（environmemt.ts v.s environmemt.prod.ts）</li>

    </ol>
  </table>
  <br>
  <hr class="border-two" />
</div>
