<!--4. 簡單管理所有文章標題：[Angular]環境變數（environmemt.ts v.s environmemt.prod.ts）-->
<h2 class='title'>{{title}}</h2>
<b>我們一路從建立白紙（component）、使用工具（binding）、配上地址（router），成功完成我們的第一篇文章！</b><br><br>
內容還是要自己撰寫啦～上節（<a routerLink='../router' skipLocationChange>0x05</a>）我有提供 akaSchool 簡介的 code 給大家當第一篇文章((?<br><br>
在最後一節，我們來試著統一一下文章標題吧！<br><br>

<app-hello-posts-main [lastPost]='lastPost' [classNumber]=4></app-hello-posts-main>

<div>
  還記得在 <a routerLink='../file' skipLocationChange>0x02</a> 介紹 Angular 專案檔案時，悄悄出現的 src/environmemts 資料夾嗎？<br><br>
  當時僅簡單介紹，這裡來詳細說明((敲<br><br>

  <h3 class='sub-title'>環境變數（environmemt.ts v.s environmemt.prod.ts）</h3>
  先前提到，在執行「ng build」指令時，後面加上「--prod」字樣，是指定使用 environmemt.prod.ts 中的參數去部屬<br><br>
  但，<b>是誰指定「--prod」字樣就是代表使用 environmemt.prod.ts 的參數呢？</b><br><br>
  讓我們來打開幕後黑手「angular.json」，在一層層結構中，我們可以找到下圖這段程式碼<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-angular.json.jpg'><br><br>
  很明顯可以看到，<span class='point-red'>當下「production」指令時，也就是簡寫的「prod」，就會經由 angular.json 中的設定，<br><br>
    將 src/environments/environment.ts 置換為 src/environments/environment.prod.ts</span><br><br>
  因此，要改 environmemt.prod.ts 的名稱或是換一個部屬時使用的參數檔，記得都要到 angular.json 中做修改唷！<br><br>
  而環境變數又能幹嘛呢？<span class='point-red'>環境變數主要是區分開發與部屬時的參數</span>，來看它預設做了什麼事情，打開 src/main.ts（程式的進入點）<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-main.ts.jpg'><br><br>
  可以看到，在 environmemt.production 等於 true 時，會執行「enableProdMode()」方法，其中 environmemt 來自
  src/environments/environment.ts<br><br>
  誠如上述，在部屬時加上「--prod」字樣後，就會將 src/environments/environment.ts 全數換成 src/environments/environment.prod.ts<br><br>
  而使用環境變數的差別就在，這兩個檔案中對於「production」參數的設定，我們來看一下<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-noprod vs prod.jpg'><br><br>
  在開發期間，使用 <b>src/environments/environment.ts</b> 檔中的 production 參數，故在 src/main.ts 中不執行「enableProdMode()」方法；<br><br>
  而在部屬的時候，由於加了「--prod」字樣，使用 <b>src/environments/environment.prod.ts</b> 中的 production 參數，故在 src/main.ts
  中將執行「enableProdMode()」方法<br><br>
  這就是環境變數（environmemt）最主要的功用，你學會了嗎～<br><br>

  <br>
  <hr class="border-two" />

  <h3 class='sub-title'>簡單管理所有文章標題</h3>
  其實管理文章標題也不需要搞到環境變數來，只是我單純覺得可以先用既有的檔案做點事:P<br><br>
  先前我們已有「App」（預設建立）、「Home」、「Page1」、「Page2」、「NotFound」五個元件<br><br>
  又基於路由的配置，僅有「Home」、「Page1」、「Page2」、「NotFound」元件的頁面（template）會呈現在瀏覽器上<br><br>
  那我們就先簡單替這四個頁面附上標題吧！<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-add title.jpg'><br><br>
  每一頁也都要有標題唷～這樣人家才知道現在我在哪一頁（除了看路徑外）<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-add title-each.jpg'><br><br>
  執行「ng serve」或「npm start」看一下每一頁呈現的效果，發現成功讓每一頁都放上標題了～好棒棒((x<br><br>
  現在你會發現很麻煩的事，就是每當文章標題你想修改，除了在該文中修正外，還需到釘選在最上面的各標題名稱處修改，不能讓我改一個地方其他直接套上嗎？<br><br>
  可以！當然可以！用個環境變數給它就好啦！<br><br>
  其實這邊主要還是<span class='point-red'>建議新建一 class 用來存放環境變數</span>會更好，不過 src/environments 已存在能存放環境變數的地方，我就先拿來用了:P<br><br>
  首先，我們把所有標題都抽出來放到環境變數檔中吧！（路徑也一起吧～）<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-add title into environment.jpg'><br><br>
  要注意的是，我將<span class='point-red'>標題的環境變數放在 src/environments/environment.prod.ts，<br><br>
    而不是 src/environments/environment.ts，這樣部屬時才能抓到標題</span><br><br>
  接著，修改一下最上面釘選的標題，使用繫結方式顯示<br><br>
  <img class='img' src='assets\posts\helloPosts\environment-load title from environment.jpg'><br><br>
  最後執行「ng serve」或「npm start」看一下結果，是不是沒什麼變化呢！<br><br>
  不過，現在我們只要在 src/environments/environment.prod.ts 中改變文章標題或路徑，就可以連動到釘選的選項與該文章囉！<br><br>
  趕快試一下吧～<br><br>
</div>

<br>
<hr class="border-two" />
<br>

<!--結語-->
「我的第一篇文章」這系列終於圓滿(?)結束了～<br><br>
埋下很多 Angular 的扶筆（模組、依賴注入、訂閱），我好壞<br><br>
結束了一趟誤打誤撞的教學旅程，讓我意識到在這樣下去有滅初衷((忘記初衷的話快給我從零開始((翻<br><br>
所以！！<b>之後教學的模式將會有所改變</b>，敬請期待唷～<br><br>
今天的分享就到這邊，<span class='point-red'>有遺漏、錯誤或是建議觀迎 Email 告訴我喔～謝謝❤</span><br>

<br>
<hr class="border-two" />

<!--參考資料-->
<div>
  <h3 class='sub-title'>參考資料</h3>
  <ul>
    <li><a href='https://ithelp.ithome.com.tw/articles/10216267' target='_blank'>[angular]IT邦幫忙：檔案目錄介紹(by fansen)</a>
    </li>
  </ul>
</div>

<!--簽名-->
<h5 class="sign">
  赤 2019-09-23 16:40<br>
</h5>
