<div>
  <h2 class='title'>{{title}}</h2>
  <!--Class-->
  <br>
  <hr class="border-two" />
  <table class='block-catalog'>
    本日教學導覽
    <ol>
      <li start="0">Angular 專案檔案介紹</li>
      <li>建立文章：[Angular]建立元件（Component）</li>
      <li>撰寫內容：[Angular]資料繫結（Binding）
        <ol>
          <li value="0">內嵌繫結（Interpolation Binding）</li>
          <li>屬性繫結（Property Binding）</li>
          <li>事件繫結（Event Binding）</li>
        </ol>
      </li>
      <li>瀏覽文章吧！：[Angular]路由配置（Router）</li>
      <li>簡單管理所有文章標題：[Angular]環境變數（environmemt.ts v.s environmemt.prod.ts）</li>
    </ol>
  </table>
  <br>
  <hr class="border-two" />
  <!--coming soon-->
  <b>Coming soon ...</b><br><br>
</div>
