<!-- <div class='menu'>
  <h3 class=''>文章區</h3><br>
  <div style='font-size: 50%;padding-left: 5px'*ngFor='let post of posts'>
    <li><a [routerLink]="goToPost(post)" skipLocationChange>{{post.title}}</a></li>
  </div>
</div> -->
<!--簡介-->
<div class="block-main">
    <div>
      <h2 class='title'>akaSchool ?</h2>
      <span class='point-red'>「從這裡重新開始吧！從一，不，從零開始！」<br>雷姆琳的話要好好遵守❤</span><br><br>
      這裡將會是爆肝工程師從零開始的日常，<br>我將會一點一滴記錄我的所見所聞，<br>冷熱知識((?<br><br>
      目前以 Angular(web) 教學為主～<br>當然免不了有許多廢話啦:P<br><br>
      歡迎持續追蹤＞＜!!
      <h5 class="sign">赤 2019-08-28</h5>
    </div>
  </div>


