<!--2. 撰寫內容：[Angular]資料繫結（Binding）-->
<h2 class='title'>{{title}}</h2>
<b>我們有了白紙可以寫文章了，但是只有平坦的文字太無聊了，我們來施點魔法吧！</b><br><br>
使用繫結來在程式動手腳吧！<br><br>

<app-hello-posts-main [lastPost]='lastPost' [classNumber]=2></app-hello-posts-main>

<div>
  <!--前言-->
  寫內容很簡單，只要會 html，都可以呈現陽春版的畫面((譬如akaShool QQ<br><br>
  但是我們都套用了前端框架 Angular 了，當然要發揮它的特殊技能，也就是使用資料繫結來呈現資料囉！<br><br>
  資料繫結？別急，我們得先了解一下 Angular 的架構～<br><br>
  <!-- 2.0. MVVM 架構（Model-View-ViewModel） -->
  <h3 class='sub-title'>2.0. MVVM 架構（Model-View-ViewModel）</h3>
  很久很久以前，前端盛行 MVC 架構，即由 Model、View、Controller 三個互相扶持所組成的架構<br><br>
  <ul>
    <li>MVC
      <ul>
        <li>Model：負責儲存資料、制定資料的格式等等</li>
        <li>View：負責顯示資料，沒了</li>
        <li><span class='point-red'>Controller：負責所有的操作、事件觸發要做什麼、運算等等</span>，包含點選按鈕啟動什麼機關等等，負責做苦功</li>
      </ul>

    </li>
  </ul>
  <img class='img' src='assets\posts\helloPosts\binding-mvc.jpg'><br>
  ((圖源：<a href='https://juejin.im/post/593021272f301e0058273468' target='_blank'>浅析前端开发中的 MVC/MVP/MVVM 模式</a><br><br>
  MVC 為非常傳統的架構，Controller 做完事（運算），再丟給兩位（View、Model）去做存放與顯示<br><br>
  而 View 會綁定在 Model 上，藉此觀察資料是否有變動，需要同步改變<br><br>
  卻也因此無法拆換 View，所以就發展出了 MVP 架構，即由 Model、View、Presenter 三個互相扶持所組成的架構<br><br>
  <ul>
    <li>MVP
      <ul>
        <li>Model：依然負責儲存資料、制定資料的格式等等</li>
        <li>View：依然負責顯示資料，沒了</li>
        <li><span class='point-red'>Presenter：負責所有的操作、事件觸發要做什麼、運算等等，可說是連結 Model 與 View 的橋樑</span></li>
      </ul>

    </li>
  </ul>
  <img class='img' src='assets\posts\helloPosts\binding-mvp.jpg'><br>
  ((圖源：<a href='https://juejin.im/post/593021272f301e0058273468' target='_blank'>浅析前端开发中的 MVC/MVP/MVVM 模式</a><br><br>
  MVP 甩掉 MVC 的 View 綁定 Model 的缺點，將 Presenter 當成傳話筒，需要溝通都是透過它<br><br>
  於是要替換 View 就變得很簡單，但相反的，Presenter 就得學會 View 的語言才能溝通，即 View 只要有更新，Presenter 就得一併更新<br><br>
  所以最後的角色出來了－MVVM，即由 Model、View、ViewModel 三個互相扶持所組成的架構<br><br>
  <ul>
    <li>MVVM
      <ul>
        <li>Model：依然負責儲存資料、制定資料的格式等等</li>
        <li>View：依然負責顯示資料，沒了</li>
        <li><span class='point-red'>ViewModel：負責所有的操作、事件觸發要做什麼、運算等等，把 View 和 Model 的同步自動化了！</span></li>
      </ul>

    </li>
  </ul>
  <img class='img' src='assets\posts\helloPosts\binding-mvvm.jpg'><br>
  ((圖源：<a href='https://juejin.im/post/593021272f301e0058273468' target='_blank'>浅析前端开发中的 MVC/MVP/MVVM 模式</a><br><br>
  以往 MVC、MVP 數據同步都需要手動去完成，而 MVVM 就是自動幫你一起改<br><br>
  就像雲端空間一樣，雲端的資源更改，View 和 Model 抓取的都會是更改後的了<br><br>
  沒錯！Angular就是這樣運作的！<br><br>
  而<span class='point-red'>資料繫結，就是實現 VM（ViewModel）的方式</span>。資料繫結又分為下列三種<br><br>
  <ul>
    <li>內嵌繫結（Interpolation Binding）</li>
    <li>屬性繫結（Property Binding）</li>
    <li>事件繫結（Event Binding）</li>
  </ul>
  底下將一一介紹各自的功能、用法及差異～<br><br>

  <br>
  <hr class="border-two" />

  <!--前置作業-->
  <h3 class='sub-title'>前置作業</h3>
  在介紹繫結之前，先讓大家可以「看到」我們現有的白紙（Home 以及 Page1），否則就看不到我們撰寫的內容了<br><br>
  這時候我們就用到建立專案時，選擇的 Routing 檔案啦～<br><br>
  打開 src/app/app-routing.module.ts 檔案<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-app-routing.jpg'><br><br>
  上圖有看到 @NgModule 的裝飾器，沒錯，<span class='point-red'>app-routing 就是一個負責在此專案下管理路由的模組</span><br><br>
  而在裝飾器中匯入匯出的 RouterModule 會在下一節作詳細介紹，我們今天主要是看右側藍色框框起來的部分<br><br>
  可以看到藍色框框起來的部分是一個為 Routes 的變數 routes，內容為一陣列<br><br>
  我們只要將要加入的白紙（元件）放入此陣列，設定路徑後就可以透過路徑找到白紙囉！如下圖<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-add path.jpg'><br><br>
  其中 path 為 URL 路徑，可任意取名，component 就是放要配到這路徑的元件（白紙），之後會獨立篇章出來詳細介紹路由配置的～<br><br>
  路由設定好之後，我們就可以使用路徑找到白紙啦，分別用路徑「<a href='http://localhost:4200/home' target='_blank'>/home</a>」和「<a
    href='http://localhost:4200/myPage' target='_blank'>/myPage</a>」測試吧！<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-view path.jpg'><br><br>
  怎麼沒變化？將畫面往下滾，會分別看到「home works!」和「page1 works!」的字樣，代表已經打開元件了！<br><br>
  而畫面上面一大坨初始的東西，其實就是被放在 src/ 下的 app 元件上的東西<br><br>
  因為專案配置一開始是由 AppModule 這個模組開始，而 AppModule 中是指定開始的元件為 AppComponent，顧一切的開端都從 app 這個元件開始喔！<br><br>
  （Angular 專案起始路徑，大門如何一扇扇展開？列於補充區）<br><br>
  如果看不慣一大坨東西，可以把 src/app/app.component.html 裡的所有程式剪下（<span
    class='point-red'>記得保留最底下的「&lt;router-outlet&gt;&lt;/router-outlet&gt;」</span>，緣由會於之後獨立的路由配置篇章中）<br><br>
  將剪下的覆蓋到 src/app/home/home.component.html 中，這時候就發現 home 元件發生錯誤了！<br><br>
  這錯誤就是待會要講的繫結啦～先擺著不理它，你也可以腦力激盪一下發生什麼事了喔～<br><br>
  做完上述步驟後，分別到三個路徑去查看「<a href='http://localhost:4200/' target='_blank'>localhost:4200</a>」、「<a
    href='http://localhost:4200/home' target='_blank'>localhost:4200/home</a>」、「<a href='http://localhost:4200/myPage'
    target='_blank'>localhost:4200/myPage</a>」<br><br>
  成功把初始的畫面搬到 home 元件上了，也讓路徑 myPage 可以只呈現自己的東西囉！<br><br>
  結束前置作業～現在就來瞭解資料繫結吧！<br>

  <br>
  <hr class="border-two" />

  <!--2.1. 內嵌繫結（Interpolation Binding）-->
  <h3 class='sub-title'>2.1. 內嵌繫結（Interpolation Binding）</h3>
  <span class='point-red'>將 ts 中的變數資料直接呈現在 html 上（ts 中修改，html 亦更改）</span><br><br>
  將 ts 檔中的變數，外加<span class='point-red'>兩組大括號</span>放到 html 檔中就行了，如下：<br><br>
  <div class='block-code'>{{'{'}}{{'{'}}title{{'}'}}{{'}'}}</div><br><br>
  一開始初始建立的 app 元件已經替我們做好一個內嵌繫結的物件喔！<br><br>
  我們切到 src/app/home/home.component.html 中剛剛出錯誤的部分<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-interpolation error.jpg'><br>
  ((使用 VSCode 能看到錯誤訊息<br><br>
  發現是找不到「title」，因為我們在 ts 中還沒宣告這個變數，當然找不到就出錯啦<br><br>
  於是我們到 src/app/home/home.component.ts 中，加上 title 變數並給上初始值，如下<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-interpolation binding.jpg'><br><br>
  回到 .html 的部分，重新存檔，讓 VSCode 知道要重新編譯，錯誤就會消失啦！因為 binding 到囉～<br><br>
  現在我們開啟 home 頁面（<a href='http://localhost:4200/home' target='_blank'>localhost:4200/home</a>），就會看見我們的 title 成功繫結到 html
  上啦！<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-interpolation binding-view.jpg'><br><br>



  <div class='block-table'><b>任務1</b>：試著到 ts 檔中改變 title 變數的值，並看看結果吧！</div>
  <br>
  <div class='block-table'><b>補充區</b><br><br>
    如果要呈現大括號在 html 上，而不是拿來內嵌繫結的話，大括號必須被自己兩層包夾，如下<br><br>
    <img class='img' src='assets\posts\helloPosts\binding-interpolation binding-remark.jpg'><br><br>
    它就會呈現出「{{'{'}}{{'{'}}title{{'}'}}{{'}'}}」這樣
  </div>

  <br>
  <hr class="border-two" />

  <!--2.2. 屬性繫結（Property Binding）-->
  <h3 class='sub-title'>2.2. 屬性繫結（Property Binding）</h3>
  <span class='point-red'>將 ts 中的變數放到 html 中標籤（tag）的屬性值中</span><br><br>
  屬性繫結又分為單向繫結（One-Way Binding）與雙向繫結（Two-Way Binding），顧名思義，你懂得((x<br><br>
  底下會分別介紹～<br><br>

  <!--單向繫結（One-Way Binding）-->
  <b>單向繫結（One-Way Binding）</b><br><br>
  <div class='block-table'>
    <span class='point-red'>只有 ts 中修改，標籤的屬性值才更改</span><br><br>
    將 html 中標籤的屬性，外加<span class='point-red'>一組中括號</span>，並指到 ts 檔中的變數即可，如下：<br><br>
    <div class='block-code'>&lt;input [value]="inputString"&gt;</div><br><br>
    上述屬性繫結的單向繫結能將變數 inputString 指派到 input 標籤的 value 屬性<br><br>
    我們在 page1 元件的 ts 中，新增一變數為 inputString，並放上初始值；於 html 中放入一 input 的標籤並使用屬性繫結的單向繫結到 inputString<br><br>
    <img class='img' src='assets\posts\helloPosts\binding-property binding.jpg'><br><br>
    接著開啟 myPage 頁面（<a href='http://localhost:4200/myPage' target='_blank'>localhost:4200/myPage</a>），就會看到我們的 inputString
    值填到 input 的屬性 value 中囉！<br><br>
    <img class='img' src='assets\posts\helloPosts\binding-property binding-view.jpg'><br><br>

    <span class='point-red'>注意：於 html 中改變繫結在 inputString 上的屬性（在輸入框中亂打），並不會改變 inputString 本身的值喔！！</span>（所以稱單向繫結）<br><br>

  </div>
  <br>
  <!--雙向繫結（Two-Way Binding）-->
  <b>雙向繫結（Two-Way Binding）</b><br><br>
  <div class='block-table'>
    <span class='point-red'>ts 中修改，標籤的屬性值會更改，反之亦然</span><br><br>
    將 html 中標籤加上一屬性「<span class='point-red'>[(ngModel)]</span>」，並指到 ts 檔中的變數<br><br>
    <div class='block-code'>&lt;input [(ngModel)]="inputString"&gt;</div><br><br>
    上述屬性繫結的雙向繫結能將變數 inputString 指派到 input 標籤的 value 屬性，有一方改變皆會一同改變<br><br>
    由於 ngModel 為表單（form）控制的範圍，所以我們需<span class='point-red'>匯入表單控制的模組「FormsModule」才能使用 ngModel</span><br><br>
    而表單控制模組會獨立一篇章出來介紹～我們先知道它負責實現雙向繫結就行了<br><br>
    我們到 src/app/app.module.ts 中匯入 FormsModule，並在 page1 元件的 ts 中，沿用 inputString 變數<br><br>
    於 html 中再放入一 input 的標籤並使用屬性繫結的雙向繫結到 inputString<br><br>
    <img class='img' src='assets\posts\helloPosts\binding-property binding-ngmodel.jpg'><br><br>
    接著開啟 myPage 頁面（<a href='http://localhost:4200/myPage' target='_blank'>localhost:4200/myPage</a>），就會看到我們的 inputString
    值填到 input 的屬性 value 中囉！<br><br>
    試著於雙向繫結購的輸入框改變值，會發現 inputString 的值就被改變了，很神奇吧！<br><br>
    <img class='img' src='assets\posts\helloPosts\binding-property binding-view2.jpg'><br><br>

    <br>
  </div>
  <br>
  <div class='block-table'><b>任務2</b>：<br>
    <ul>
      <li>試著到 ts 檔中改變 inputString 變數的值，並看看結果吧！</li>
      <li>試著使用內嵌繫結呈現 inputString 變數，並到 html 檔中改變兩個輸入框的值，並看看 inputString 的變化吧！</li>
    </ul>
  </div>

  <br>
  <hr class="border-two" />

  <!--2.3. 事件繫結（Event Binding）-->
  <h3 class='sub-title'>2.3. 事件繫結（Event Binding）</h3>
  <span class='point-red'>將 html 中的屬性繫上 ts 中的事件（操作 html 畫面時，觸發 ts 做出一些反應）</span><br><br>
  將 html 中標籤的「特定」屬性（例如 click），外加<span class='point-red'>一組小括號</span>，並指到 ts 檔中的事件即可，如下：<br><br>
  <div class='block-code'>&lt;button (click)="showMessage()"&gt;Show&lt;/button&gt;</div><br><br>
  上述事件繫結能將事件 showMessage 指派到 button 標籤的 click 事件<br><br>
  我們在 page1 元件的 ts 中，新增一事件為 showMessage，並放入改變 inputString 變數的程式碼；於 html 中放入一 button 的標籤並使用事件繫結到 showMessage<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-event binding.jpg'><br><br>
  接著開啟 myPage 頁面（<a href='http://localhost:4200/myPage' target='_blank'>localhost:4200/myPage</a>）<br><br>
  點選 Show 的按鈕，就會看到我們雙向繫結的第二格輸入框的值被改變了！是因為按鈕的 click 事件繫好 showMessage 事件囉！<br><br>
  <img class='img' src='assets\posts\helloPosts\binding-event binding-view.jpg'><br><br>
  <br>
  <div class='block-table'><b>任務3</b>：<br>
    <ul>
      <li>試著將事件加入參數（showMessage(message: string)），並繫結到按鈕上</li>
      <li>試著將事件的參數透過「雙向綁定的變數 inputString」呈現到輸入框上</li>
    </ul>
  </div>

  <br>
  <hr class="border-two" />
  <br>
  <div class='block-table'>
    <b>補充區</b><br>
    Angular 專案起始路徑，大門如何一扇扇展開？（依順序排列）<br>
    <ol>
      <li>main.ts：根據 <a routerLink="" [queryParams]="{ post: 'helloPosts/file' }" target='_blank'>0x02</a> 檔案介紹中，可以得知程式的進入點是 main.ts 檔</li>
      <li>AppModule（src/app/app.module.ts）：根據 <a routerLink="" [queryParams]="{ post: 'helloPosts/file' }" target='_blank'>0x02</a> 檔案介紹的 main.ts
        檔中，可以得知其指派 AppModule 為起始模組</li>
      <li>AppComponent（src/app/app.component.ts）：根據 <a routerLink="" [queryParams]="{ post: 'helloPosts/component' }" target='_blank'>0x03</a>
        ngModule 介紹中，可以得知 AppModule 指派 AppComponent 為起始元件</li>
    </ol>
    根據 <a routerLink="" [queryParams]="{ post: 'helloPosts/component' }" target='_blank'>0x03</a> Component 介紹中，在 AppComponent 中又指派
    src/app/app.component.html 為其 Template<br>
    故<span class='point-red'>一開始的 view 是 app.component.html</span><br><br>
  </div>
</div>
<br>
<hr class="border-two" />
<br>
<!--結語-->
我們終於可以使用魔法來呈現自己的文章囉～開始善用一下繫結的功能吧！<br><br>
下一節我將教學較複雜的路徑設定，也就是路由配置（Routing）～敬請期待～<br><br>
今天的分享就到這邊，<span class='point-red'>有遺漏、錯誤或是建議歡迎 Email 告訴我喔～謝謝❤</span><br>

<br>
<hr class="border-two" />

<!--參考資料-->
<div>
  <h3 class='sub-title'>參考資料</h3>
  <ul>
    <li><a href='https://juejin.im/post/593021272f301e0058273468' target='_blank'>[front-end]浅析前端开发中的 MVC/MVP/MVVM
        模式</a></li>
    <li><a href='https://blog.csdn.net/yw00yw/article/details/88737316'
        target='_blank'>[angular]angular是MVC模式还是MVVM架构模式</a></li>
    <li><a
        href='https://www.htmlgoodies.com/beyond/javascript/the-model-view-viewmodel-pattern-and-angular-development.html'
        target='_blank'>[angular]The Model-View-ViewModel Pattern and Angular Development</a></li>
    <li><a href='https://dotblogs.com.tw/jeffyang/2017/06/11/203527' target='_blank'>[angular]Angular4-資料繫結</a></li>
    <li><a href='https://jonny-huang.github.io/angular/training/15_angular_directive/' target='_blank'>[angular]Angular
        指令 & 資料繫結</a></li>
    <li><a href='https://jonny-huang.github.io/angular/training/13_angular_event/' target='_blank'>[angular]Angular
        事件繫結</a></li>
    <li><a href='https://www.zhihu.com/question/64709855' target='_blank'>[angular]angular2 的html 如何显示
        大括号，一般它会识别成数据绑定？</a></li>

  </ul>
</div>
<h5 class="sign">
  赤 2019-09-05 17:54<br>
</h5>
