<div>
  <h2 class="title">
    {{ postNumber === "0" ? "" : postNumber }} {{ post.Title }}
  </h2>

  <div [innerHTML]="post.Content || '查無該頁'"></div>

  <!--結語-->
  @if (post.Title && post.Content) {
    <div>
      <br />
      <hr class="border-two" />
      今天的分享就到這邊，<span class="point-red"
      >有遺漏、錯誤或是建議歡迎 Email 告訴我喔～謝謝❤</span
      ><br />
    </div>
  }

  <!--參考資料-->
  @if (references?.length > 0) {
    <div>
      <br />
      <hr class="border-two" />
      <h3 class="sub-title">參考資料</h3>
      <ul>
        @for (reference of references; track reference) {
          <li>
            <a href="{{ reference.Url }}" target="_blank"
              >[{{ reference.Category }}]{{ reference.Author }} -
              {{ reference.Title }}</a
              >
            </li>
          }
        </ul>
      </div>
    }

    <h5 class="sign">
      <br />
      @for (update of updates; track update; let i = $index) {
        <span>
          {{ i > 0 ? "更新：" : "" }}{{ update.user }}
          {{ update.date.seconds * 1000 | date: "yyyy-MM-dd HH:mm" }}<br />
        </span>
      }
    </h5>
  </div>

  <!--post template-->
  @if (false) {
    <div>
      <table class="block-catalog">
        本日教學導覽
        <ol>
          <li value="0">教學1</li>
        </ol>
      </table>
      <br />
      <hr class="border-two" />
      <h3 class="sub-title">0. 副標題</h3>
      <img class="img" src="圖片路徑" /><br /><br />
      <div class="block-code">程式碼</div>
      <br />
      <span class="point-red">紅字重點</span>
      <div class="block-table">縮排框框</div>
      <div class="block-tab">縮排</div>
    </div>
  }
  <!--/post template-->
