  <div>
    <h2 class='title'>動機</h2>
    從很久以前就有夢想要架設屬於自己的網站，作文式開頭((x<br><br>
    咳！目前工作負責前端的部分，從零開始接觸前端，發現這是一個不小的坑啊((汗<br><br>
    懵懵懂懂地跟著同事學寫Angular，其實大多數時間是找Google大神幫忙啦！<br><br>
    也因為大神的幫忙，讓我接觸到不少改變我人生的文章，是即將改變我人生才對XD<br><br>
    就像是打算著手經營網站也是如此，廢話不多說，就是保哥這篇文章：<br><br>
    <a href="https://blog.miniasp.com/post/2016/02/02/JavaScript-novice-advice-and-learning-resources" target="_blank">我要成為前端工程師！給 JavaScript 新手的建議與學習資源整理</a><br><br>
    雖然標題打著「給 JavaScript 新手的建議與學習資源整理」，但是內容非常適合走在前端（我是指前端工程師）需要有的概念和知識<br><br>
    看完保哥詳細的介紹，已及內文附上的各種參考文章，是不是不至於讓你想架網站呢？<br><br>
    沒錯，就只是覺得前端好累，要知道的好多，html、css、JS...等等，眼花撩亂@@<br><br>
    後來是我誤打誤撞，依然是工作中尋求Google大神幫幫忙時，進入我視野中的文章((我到底搜尋了甚麼((扶額<br><br>
    <a href="https://daotw.com/如何架設網站" target="_blank">如何架設網站：21個教學＋費用（網頁製作軟體, Blog推薦）</a><br><br>
    沒錯，架網站要花錢，才怪！<br><br>
    架網站的選擇很多，可以選擇現有的平台，也可以從零開始打造自己的小天地<br><br>
    所以我選擇了現有的平台－github（沒錢啦QQ），沒有多餘的裝飾（我還沒學會Bootstrap）、沒有完全客製化的網域（只能取廢廢的帳號名）<br><br>
    於是簡單又快速的網站就誕生了～<br><br>
    有沒有發現根本不需看上面那篇文章就能架網了呢((x<br><br>
    只要看這篇，簡簡單單完成你的github網站：<br><br>
    <a href="https://gitbook.tw/chapters/github/using-github-pages.html" target="_blank">使用 GitHub 免費製作個人網站</a><br><br>
  </div>
  <div>
    <h2 class='title'>從零開始的爆肝工程師日常</h2>
    <b>「從這裡重新開始吧！從一，不，從零開始！」雷姆琳的話要好好遵守❤</b><br><br>
    既然選擇走這條<del>不歸路</del>，那就一步一腳印吧！<br><br>
    由於工作需要（再說下去都要變工作狂了），學的第一個前端框架就是 Angular<br><br>
    的分支 Ionic<br><br>
    後來才真正鑽研 Angular，其實就拿拿同事的 code 看看，本菜鳥不敢祈求同事教學QQ<br><br>
    我大可分享幾個我亂拚亂湊學會 Augular 的教材，不過我不會這麼做<br><br>
    觀念很亂，用著低階語言的邏輯（以前學生時期長年的經驗）去套用在高階語言上，出錯還是得巴著同事哀哀叫，這怎麼可以！<br><br>
    都說要一步一腳印了，當然要帶這大家一天天看這個網站的變化，以及我的進步，不會有懶人包這種東西的！<br><br>
    大概...((x<br><br>
    嗯！那我們就開始吧！<br><br>
    スタート！！<br><br>
    ...<br><br>
    ...<br><br>
    ...<br><br>
    怎麼開始呢...<br><br>
    目前還在研究如何丟文章上來，現在用非常<del>智障</del>的方式寫<br><br>
    沒錯，直接放 html，只要再多一篇文章，就多一份 html 檔，我要記錄這個不惜一切要搞好網站的時刻((喀擦<br><br>
    期待我之後分享的知識吧！<br><br>
    我們下次見～まだ！
  </div>
  <h5 class="sign">赤 2019-08-28</h5>
