<div>
  <h2 class='title'>{{title}}</h2>
  <!--前言-->
  誰來告訴我如何縮短標題((扶額<br><br>
  歡迎來到版控個人副本3，請問有獲得「版控個人副本2」的戰利品了嗎？沒有的話就先通關吧：<br><br>
  <a routerLink='' [queryParams]='{ post: postGitInstance2.path }'
    target='_blank'>{{postGitInstance2.title}}</a><br><br>
  在這裡將會有兩頭 Boss（復原變更、復原版本）等著大家唷！
  本次副本可以獲得的成就有以下：<span class='point-red'>復原變更（Reset）、拯救檔案（Checkout）、復原版本（Revert），以及 reflog 的應用。</span><br><br>
  將<span class='point-red'>於 Git Bash 環境下執行 Git 操作</span>，讓我們開始<del>打怪</del>吧！<br><br>
  想複習一下 Git 版本控管的基本操作，歡迎參考下列文章～要達一定等級才能開始打副本啊！<br><br>
  <a routerLink='' [queryParams]='{ post: postGitInitial.path }' target='_blank'>{{postGitInitial.title}}</a><br><br>

  <!--教學導覽-->
  <table class='block-catalog'>
    本日教學導覽
    <ol>
      <li value="0">Reset 的多種復原方式
        <ol>
          <li>取消索引</li>
          <li>復原最新版本</li>
          <li>復原危險操作 & reflog 應用</li>
          <li>常用參數</li>
        </ol>
      </li>
      <li>Checkout 與索引比較的復原方式
        <ol>
          <li>復原檔案／資料夾</li>
          <li>復原特定版本下的檔案／資料夾</li>
        </ol>
      </li>
      <li>復原版本（Revert）</li>
    </ol>
  </table>
  <br>
  <hr class="border-two" />
  <!--/教學導覽-->
  <div>
    <h2 class='sub-title'>前置作業</h2>
    記得先準備好一份<del>搞壞也沒關係的</del>專案做測試，或是<b>把原本的「.git」資料夾備份一份，搞壞再換回備份的</b>，當作一切都沒發生過。
    我準備的專案內容、狀態、歷史紀錄如下，新增三個空的文字檔，且加入版控，非常乾淨溜溜：<br><br>
    <img class='img' src='assets\posts\gitInstance3\overview.jpg'><br><br>

    <!--0. Reset 的多種復原方式-->
    <h2 class='sub-title'>0. Reset 的多種復原方式</h2>
    當更動檔案時，總是會有手誤改錯的部分，或是上傳版本之後，又想後悔復原，這時候 Reset 就是一個很好的復原幫手，
    能夠<span class='point-red'>根據歷史資料來替你還原資料</span>，底下將一一介紹 Reset 的指令與其用途。<br><br>
    <!--0.0. 取消索引（git reset／git reset HEAD）-->
    <h3>0.0. 取消索引</h3>
    從一開始一直 follow 我的你們，一定對這指令不陌生，以下指令可以<span class='point-red'>將加入索引的更動取消，回到最新版本，預設工作目錄保留更動</span>
    （關於工作目錄、索引等名詞解釋：<a routerLink='' [queryParams]='{ post: postGitInstance2.path }'
      target='_blank'>{{postGitInstance2.title.substr(0, 4)}}</a>）：<br><br>
    <div class='block-code'>git reset</div><br>
    or<br><br>
    <div class='block-code'>git reset HEAD</div><br>
    那我們來實際練習一下，可以嘗試不看底下操作，自己完成任務吧～<br><br>
    <div class='block-table'>
      ><b>普通任務</b>：於任一檔案（a.txt）中加入一串內容（add for reset），並將此檔加入索引後，試著取消索引。<br>
      ><b>進階任務</b>：將任一修改過的檔案（a.txt）加入索引，再修改同一檔案的同一修改位置（edit for reset），使得工作目錄與索引中的同一檔案的同一位置擁有不同更動，試著取消索引，看看檔案的內容變化。
    </div><br>

    首先我們先完成普通任務，我使用 vim 來修改檔案並加入索引，如下（vim 的基本操作可以參考我的<a routerLink='' [queryParams]='{ post: postGitInitial.path }'
      target='_blank'>這篇</a>，或是別人的<a href='http://linux.vbird.org/linux_basic/0310vi.php#vi_ex'
      target='_blank'>這篇</a>。）：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-edit a.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-add.jpg'><br><br>
    接著執行「git reset」或「git reset HEAD」看看變化，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-reset.jpg'><br><br>
    看見我們成功取消索引了，但是<span class='point-red'>更動的內容依然存在於工作目錄</span>。<br><br>
    再來我們來嘗試進階任務，再次把「a.txt」加入索引，並開啟此檔於修改剛剛加入的內容，如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-add-2.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-edit a-2.jpg'><br><br>
    最後就是重頭戲啦～執行「git reset」或「git reset HEAD」看看變化吧～如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-normal-reset-2.jpg'><br><br>
    目前狀態中可以看到，工作目錄一樣只有紀錄一個「a.txt」，我們打開來看看他內容是留哪份，可以看到<span class='point-red'>留的是後來工作目錄中的結果</span>。<br><br>
    可以想像索引中的更動是預計要上架的產品，而工作目錄下的為其備份產品，後來發現要上架的產品有瑕疵，所以修正了瑕疵（add -> edit），並取消預計上架的那份（取消索引），
    而且想當然，保留著的是後來修正瑕疵的產品（工作目錄中的）。這樣應該就很能理解為何取消索引後，工作目錄會存在更動，且與索引重疊的部分會保留工作目錄的結果了！<br><br>

    <!--0.1. 復原最新版本（git reset HEAD^／git reset HEAD~N）-->
    <h3>0.1. 復原最新版本</h3>
    以下指令可以<span class='point-red'>復原上一次的 commit，回到前一版本，預設工作目錄保留更動</span>：<br><br>
    <div class='block-code'>git reset HEAD^</div><br>
    而以下指令可以<span class='point-red'>復原前 N 次的 commit，回到前 N 版本，工作目錄保留 N 版本後的所有更動（N 為任一正整數）</span>：<br><br>
    <div class='block-code'>git reset HEAD~N</div><br>
    那我們來實際練習一下，可以嘗試不看底下操作，自己完成任務吧～<br><br>
    <div class='block-table'>
      ><b>普通任務</b>：上傳任一 commit，試著取消這次 commit。<br>
      ><b>進階任務</b>：試著復原至前兩次的 commit（HEAD~2），並觀察工作目錄的狀態。
    </div><br>

    首先，先完成普通任務，我們把剛剛修改的「a.txt」加入索引並上傳 commit ，內容為「edit a.txt」，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-commit.jpg'><br><br>
    現在執行「git reset HEAD^」或「git reset HEAD~1」來取消這次 commit 吧！如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-reset.jpg'><br><br>
    可以看到剛剛的 commit 消失了，而且「a.txt」的更動也回到工作目錄中囉！<br><br>
    接著就來練習進階任務，重複上述將a.txt」加入索引並上傳 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-commit.jpg'><br><br>
    執行「git reset HEAD~2」來復原至前兩次的 commit，以目前的歷史紀錄來看，就是還原到沒有任何 commit 的狀態，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-reset-2.jpg'><br><br>
    發生錯誤了！其實並不意外，畢竟「還原到沒有任何 commit 的狀態」等同於還原到尚未被加入版控時，那 git 當然不知道你是要還原到哪裡去，就像問別人還沒出生前長什麼模樣一樣((?<br><br>
    <span class='point-red'>發生錯誤也不必擔心，通常 git 會直接幫你取消你的操作</span>，所以狀態、工作目錄、索引、歷史等都不會有改變，等同於你沒有做任何操作而已。<br><br>
    為了繼續完成任務，我們就再加一條 commit 吧！這次換於「b.txt」檔中加入內容「add for reset」，並加入索引後上傳 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-edit.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-commit-2.jpg'><br><br>
    最後，再次執行「git reset HEAD~2」來復原至前兩次的 commit，以目前的歷史紀錄來看，就是還原到初次 commit 的狀態，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-head-reset-3.jpg'><br><br>
    可以看到，兩次的 commit 更動都丟回工作目錄了，就像將產品下架一樣，但是下架的產品還會保留起來這樣。<br><br>

    <!--0.2. 復原危險操作 & reflog 應用（git reset ORIG_HEAD）-->
    <h3>0.2. 復原危險操作 & reflog 應用</h3>
    以下指令可以<span class='point-red'>復原到上一次 Merge、Reset、Revert、Rebase 的前一版本，預設工作目錄保留更動（後面會介紹 Revert 及
      Rebase）</span>：<br><br>
    <div class='block-code'>git reset ORIG_HEAD</div><br>
    <span class='point-red'>Merge、Reset、Revert、Rebase皆被 git 視為危險操作</span>，因此特別多了一個「指標」紀錄危險操作的前一版本。
    此外，git 除了提供「git log」查詢歷史紀錄（版本）外，也提供查詢所有「歷史操作」，如下指令：<br><br>
    <div class='block-code'>git reflog</div><br>
    上述指令能夠<span class='point-red'>列出所有對此專案所做的任何操作（commit、merge、reset 等等），並且提供每一次操作的指標（HEAD@&#123;N&#125;，N
      為正整數）</span>供還原到該版本。且操作前都會註明這次操作是 commit、reset、merge 等（<span class='point-red'>內容開頭會註明</span>），藉此看出 ORIG_HEAD
    指向的上一次危險操作的位置在哪邊。<br><br>
    有了每一操作的指標，我們可透過指標回到該操作的時刻，也就是還原該操作之後的所有操作，如下指令：<br><br>
    <div class='block-code'>git reset HEAD@&#123;N&#125;</div><br>

    那我們來實際練習一下，可以嘗試不看底下操作，自己完成任務吧～<br><br>
    <div class='block-table'>
      ><b>普通任務</b>：1. 試著查詢目前所有「歷史操作」。　2. 試著使用「ORIG_HEAD」還原復原動作。<br>
      ><b>進階任務</b>：1. 試著新增多筆 commit，並還原至 ORIG_HEAD 位置。　2. 試著還原前五次歷史「操作」（HEAD@&#123;5&#125;）。
    </div><br>

    首先先來完成普通任務吧～查詢一下目前為止的歷史操作，順便印出歷史紀錄做比對，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reflog.jpg'><br><br>
    可以看到我們前面所做的所有操作都被記錄下來了，而每一筆操作皆有自己的「指標」（HEAD@&#123;N&#125;），類似編號。至於歷史紀錄就只會紀錄 commit。<br><br>
    接著完成普通任務2吧～目前只有初始加入版控的 commit，我們多加一個 commit 測試吧（你要直接執行還原復原也可以），那我們把目前工作目錄下的更動上傳 commit，如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-commit.jpg'><br><br>
    再來就執行復原，並看一下歷史操作吧～如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reset.jpg'><br><br>
    還原復原的重頭戲來了，<span class='point-red'>先查看歷史操作，可以確定一下要還原上一次復原動作</span>（reset: moving to HEAD^），執行如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-rereset.jpg'><br><br>
    上圖可以看到<span class='point-red'>又寫了一筆歷史操作（reset: moving to ORIG_HEAD）</span>，並且剛剛的 commit 回來囉～當然工作目錄也變乾淨了。<br><br>
    這時候會不會好奇，如果我再次執行「git reset ORIG_HEAD」會還原到哪裡去？來試試看吧～如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-rereset-2.jpg'><br><br>
    剛剛的 commit 又消失了！並且更動又回到了工作目錄，看來是<span class='point-red'>還原了剛剛的還原動作，代表還原至 ORIG_HEAD
      位置也被視為危險的動作</span>，來看看歷史操作，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reflog-2.jpg'><br><br>
    可以看到這次的操作跟剛剛一樣（reset: moving to ORIG_HEAD），一種「負負得正」的概念，所以又回到剛剛復原 commit 的狀態囉！<br><br>

    接下來就來完成進階任務吧～上傳幾筆 commit，我就把工作目錄下的兩個檔案分別上傳 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-commit-2.jpg'><br><br>
    執行還原來看看結果吧～如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-rereset-3.jpg'><br><br>
    上圖可以看到又寫了一筆歷史操作（reset: moving to ORIG_HEAD），現在歷史紀錄與工作目錄的狀態怎麼怪怪的！？<br><br>
    歷史紀錄刪除了「edit a.txt」、「edit b.txt」兩筆，並多了一筆「edit a.txt & b.txt」，而且目前工作目錄為空。
    其實一點也不奇怪唷～以剛剛的理解來看，ORIG_HEAD 可還原至上一次危險的動作前，而上一次危險的動作應該是我們負負得正的「還原剛剛的還原動作」，
    所以<span class='point-red'>此次還原是跑到「還原剛剛的還原動作」的操作的前一版本，也就是「還原的動作」</span>，就是剛剛我們復原（取消）「edit a.txt & b.txt」的 commit，並還原此
    commit 時的狀態唷！<br><br>
    不相信的話，我們就可以善用比較來看看是不是同一個地方（比較結果相同代表兩項操作後皆指向同一地方），或是看看「git reflog」的結果，看到<span class='point-red'>分支及目前位置的標示（ (HEAD ->
      master) ），
      代表著這些操作都是指向同一個地方</span>。我們就來執行比較差異看看是不是真的相同，當然可以<span class='point-red'>直接使用歷史操作的指標來比較</span>，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-diff.jpg'><br><br>
    沒有印出任何東西，代表兩者相同喔～有沒有很神奇啊！<br><br>
    最後完成進階任務吧～其實超簡單的XD 如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reset-2.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reset-status.jpg'><br><br>
    我們又回到一開始復原 commit 的時刻囉！恭喜完成任務～<br><br>

    <!--0.3. 常用參數（--patch／-p、--mixed、--soft、--hard）-->
    <h3>0.3. 常用參數</h3>
    對於復原（reset）的動作，有幾個常用的參數，底下就來一一介紹～<br><br>

    <h4>--mixed（預設）</h4>
    其實前面我們執行的任一 reset 操作，皆<span
      class='point-red'>預設使用「--mixed」模式，此參數可加可不加，指定重製最新版本與索引，將原本最新版本與重製後的最新版本差異合併到工作目錄中</span>。
    也就是前面看到的，將最新版本指向復原後的位置，並把所有更動留存在工作目錄中，且<span class='point-red'>會與工作目錄下的更動合併</span>。那這邊就不再示範囉～<br><br>

    <h4>--soft</h4>
    執行 reset 動作時<span class='point-red'>加上參數「--soft」，則指定重製最新版本，將原本最新版本與重製後的最新版本差異留存在索引中，且工作目錄不變</span>。
    直接測試看看，先確認一下我們目前的狀態與歷史紀錄，執行如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-orig-reset-status.jpg'><br><br>
    工作目錄下有兩個檔案的更動，索引為空，歷史紀錄僅一筆。為了測試我們將「a.txt」上傳 commit，讓工作目錄保留一檔案「b.txt」，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-param-commit.jpg'><br><br>
    接著執行「git reset HEAD^ --soft」或「git reset HEAD~1 --soft」，復原上一次的 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-param-soft-reset.jpg'><br><br>
    上圖可以看到，加上參數「--soft」後，我們 reset 的更動就全跑到索引中了，好處就是<span class='point-red'>能區分工作目錄原有的更動與 reset 回來的更動</span>。<br><br>

    <h4>--hard</h4>
    執行 reset 動作時<span class='point-red'>加上參數「--hard」，則指定重製最新版本，將原本最新版本與重製後的最新版本差異直接刪除，且清空索引與工作目錄</span>。
    這個動作就比較極端((?，會直接讓目前狀態跑到復原的位置上，並直接捨棄差異，所以索引和工作目錄皆會清空，<span class='point-red'>注意！原有在工作目錄的更動也會一併清空</span>。
    直接來嘗試一波，記得這次測試會清空重製點之後的所有變更，小心使用喔～不過也可以執行還原，還原復原的動作來救回資料啦！<br><br>
    首先，再次把「a.txt」上傳 commit，讓工作目錄保留一檔案「b.txt」，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-param-commit-2.jpg'><br><br>
    接著執行「git reset HEAD^ --hard」或「git reset HEAD~1 --hard」，復原上一次的 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-param-hard-reset.jpg'><br><br>
    上圖可以看到，加上參數「--hard」後，我們 reset 的更動就全不見了，索引和工作目錄皆被清空，好處就是<span class='point-red'>能完全回到 reset
      的位置，放棄所有變更</span>。<br><br>

    <h4>--patch／-p</h4>
    上述三者參數都是控制 reset 之後的結果，而<span class='point-red'>「--patch」則是可以指定部分復原（可簡寫「-p」），「add」操作也適用此參數唷！</span><br><br>
    目前我們回到一開始剛加入版控的狀態，即所有檔案都是空檔，且工作目錄與索引皆為空。為了測試，我們先修改「a.txt」，這次加入多行的更動，並上傳 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-edit a.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-commit.jpg'><br><br>
    接著我們再次修改「a.txt」，<span class='point-red'>修改並加入一些訊息穿插在剛剛的訊息中</span>，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-edit a-2.jpg'><br><br>
    剛有提到「add」操作也適用參數「--patch」，那我們就直接執行「git add a.txt --patch」測試吧～如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-add.jpg'><br><br>
    圖中可以看到出現比較差異的結果（比較差異介紹： <a routerLink='' [queryParams]='{ post: postGitInstance2.path }'
      target='_blank'>{{postGitInstance2.title.substr(0, 4)}}</a>），並在最底下詢問要如何處理這塊差異（Stage this hunk [y,n,q,a,d,s,e,?]?）。
    可惜我們檔案內容不多，不能看到它<b>分批詢問</b>的狀況，不過也能看到參數「--patch」的功能，能夠<span
      class='point-red'>透過一塊塊比較差異來決定這塊差異是否要加入索引（或是復原）</span>。<br><br>
    簡單介紹一下最底下詢問的問題，要輸入的代號各代表的意思，可直接<span class='point-red'>輸入「h」或「?」看看 git 貼心的解說</span>，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-h.jpg'><br><br>

    <ul>
      <li>y: 使用這塊更動，即這塊加入索引（add）或復原（reset）。</li>
      <li>n: 不使用這塊更動，即這塊不加入索引（add）或不復原（reset）。</li>
      <li>q: 離開，取消這次操作，即放棄加入索引（add）或放棄復原（reset）。</li>
      <li>a: 使用這塊所在的檔案的所有更動，即目前比較的檔案所有更動皆加入索引（add）或復原（reset）。</li>
      <li>d: 不使用這塊所在的檔案的所有更動，即目前比較的檔案所有更動皆不加入索引（add）或不復原（reset）。</li>
      <li>s: 把這塊再切得更小塊去判斷。</li>
      <li>e: 手動更改這塊，將開啟編輯器（實作可參考<a href='https://airfishqi.blogspot.com/2014/04/github-git-add-p-git-stash.html'
          target='_blank'>這篇</a>）。</li>
      <li>?: 查看所有代號的意思，也可輸入「h」。</li>
    </ul>
    那我們就試著把它切得更小塊吧～輸入「s」，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-s.jpg'><br><br>
    圖中可以看到它說切成三小塊了（Split into 3 hunks.），並顯示第一塊，也就是只有第一行修改的部分，那我們這部分就給它不要加入索引，輸入「n」，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-n.jpg'><br><br>
    圖中看到它直接問你下一小塊，那這次我們就把下兩小塊都加入索引吧～三塊完整執行如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-add ok.jpg'><br><br>
    這時候我們來看看狀態吧，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-status.jpg'><br><br>
    可以看到索引跟工作目錄皆有「a.txt」的更動，我們來瞧瞧兩者的差別，執行「git diff」（比較差異介紹： <a routerLink=''
      [queryParams]='{ post: postGitInstance2.path }'
      target='_blank'>{{postGitInstance2.title.substr(0, 4)}}</a>），如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\reset-patch-diff.jpg'><br><br>
    圖中可以看到，就只差在剛剛我們取消索引的第一行更動而已。而對於復原（reset）也是同樣的操作模式～每一個功能就交給你自己去嘗試囉～下台一鞠躬((x<br><br>

    <!--1. Checkout 與索引比較的復原方式-->
    <h2 class='sub-title'>1. Checkout 與索引比較的復原方式</h2>
    完全了解了 reset 復原的所有操作後，接下來將介紹另一種復原方式「Checkout」，<span class='point-red'>主要是用來復原特定檔案或資料夾</span>，底下將一一介紹～<br><br>

    <!--1.0. 復原檔案／資料夾（git checkout -- &lt;file&gt;）-->
    <h3>1.0. 復原檔案／資料夾</h3>
    從頭 follow 我到現在的你們，應該看過以下指令：<br><br>
    <div class='block-code'>git checkout -- &lt;file&gt;</div><br>
    上述指令用來還原某檔案或資料夾的更動，其實就是<span class='point-red'>將工作目錄下的某檔案或資料夾，復原成索引中此檔案或資料夾的模樣</span>，
    當索引為空，則工作目錄下還原成索引的話，就被清空，當然就復原了檔案的更動（放棄了剛剛工作目錄中的更動）。<br><br>
    我們來隨意嘗試一下，先看一下目前工作目錄與索引的狀態，還記得剛剛供作目錄跟索引中對於「a.txt」檔案的更動嗎？如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-status.jpg'><br><br>
    圖中也可以看到，它也有提示使用 checkout 指令可還原更動（use "git checkout -- &lt;file&gt;..." to discard changes in working directory）。
    當我們執行「git checkout -- a.txt」，就會將工作目錄下的「a.txt」復原成索引中「a.txt」的模樣，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-checkout.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-show a.jpg'><br><br>
    圖中可以看到工作目錄被清空了，而「a.txt」中的第一行確實變回索引的中模樣，這樣就復原了「a.txt」的更動囉！<br><br>
    <div class='block-table'>
      <b>補充</b>：「git checkout -- &lt;file&gt;」中的「--」可加可不加，因不加時與切換分支（分支介紹：<a routerLink=''
        [queryParams]='{ post: postGitInstance.path }' target='_blank'>{{postGitInstance.title.substr(0, 4)}}</a>）指令相同，
      若檔案名稱恰好與某分支名稱相同，將會產生矛盾，故建議皆加上「--」。
    </div><br>

    <!--1.1. 復原特定版本下的檔案／資料夾-->
    <h3>1.1. 復原特定版本下的檔案／資料夾</h3>
    除了復原至索引下的模樣外，其實也可指定<span class='point-red'>復原至某分支或歷史版本中的模樣</span>，指令如下：<br><br>
    <div class='block-code'>git checkout &lt;編號／分支名稱&gt; &lt;file&gt;</div><br>
    在欲復原的檔案前加入版本編號或分支名稱，就可以將此檔復原成指定編號或分支下的模樣，且<span class='point-red'>還原的內容會被存放在索引，放棄原先索引與工作目錄的此檔更動</span>。<br><br>
    為了測試，我們再度更改「a.txt」檔案，第一行一樣改成「a.txt」，使工作目錄與索引皆有「a.txt」檔案的更動，這時我們還原至剛加入版控時空白的「a.txt」檔案吧，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-edit a.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-checkout commit.jpg'><br><br>
    圖中可以看到，目前我們剩下索引中的「a.txt」檔案，而<span class='point-red'>歷史紀錄並不會被改變喔！</span>那我們來看看「a.txt」檔案內容變成怎樣，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\checkout-show a-2.jpg'><br><br>
    完全空白了！因為復原到一開始加入版控的模樣了，而且剛剛在索引及工作目錄中對於「a.txt」檔案的更動全部消失，使用時要注意這點唷！<br><br>

    <!--2. 復原版本（Revert）-->
    <h2 class='sub-title'>2. 復原版本（Revert）</h2>
    在前面我們學會復原至某一版本的位置，全都是連同原先版本至某一版本中所有的版本都一起捨棄，但其實是可以<span class='point-red'>選擇只復原某一次版本的更動</span>，指令如下：<br><br>
    <div class='block-code'>git revert &lt;編號&gt;</div><br>
    上述指令的<span class='point-red'>編號可為多個，可指定復原多個版本更動</span>，而復原時發生衝突的解法與合併時解法類似（可參考：<a routerLink=''
      [queryParams]='{ post: postGitInstance.path }'
      target='_blank'>{{postGitInstance.title.substr(0, 4)}}</a>）。<br><br>
    為了測試，我們先清空一下工作目錄與索引，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-overview.jpg'><br><br>
    並分別修改「a.txt」、「b.txt」檔案，並上傳兩個 commit，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-edit a b.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-commit.jpg'><br><br>
    接著我們來復原「a197af2」編號的更動，即在「a.txt」檔案中加入很長一大段的內容，我們<b>可以跟它的前一版作比較，看它的更動</b>，如下（每個人的歷史紀錄編號不盡相同，記得用自己的喔）：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-diff.jpg'><br><br>
    圖中可以看到加入的部分，這時我們只想復原這些部分，只要執行「git revert a197af2」（每個人的歷史紀錄編號不盡相同，記得用自己的喔）就可以復原此版的更動，也就是刪掉上述比較的差異，如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-error.jpg'><br><br>
    糟糕！發生衝突了！這時不驚慌不害怕，我們看一下它告訴我們的訊息，「error: could not revert a197af2... edit a.txt」代表著「a.txt」檔案發生衝突了，底下也給了幾項提示，
    不知道該如何是好？那就執行「git status」吧～它總能拯救你((?<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-error-status.jpg'><br><br>
    <del>看來「git status」不能拯救你，</del>可以看到「a.txt」檔案變成兩個了（both modified:
    a.txt），也就是發生衝突，而且我們處在不太正常的狀態（圖中紅框「master|REVERTING」），
    那我們打開「a.txt」檔案瞧瞧吧，如下：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-error-show.jpg'><br><br>
    上圖看到 git 貼心的幫你把衝突的地方標示出來，可以看到在上塊（HEAD）為最新版本下的內容，下塊（parent of a197af2... edit a.txt）為 revert
    指定版本的上一版（因為是要復原至指定版本，所以當然是變為指定版本的上一版，為空內容）。
    那我們就保留「add for revert」文字就好，其他砍掉，儲存後退出，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-error-edit.jpg'><br><br>
    接著我們執行「git status」，看到它給的提示，如下圖（由於<span class='point-red'>我們在不正常的狀態，故要使用它提示的方式離開不正常狀態喔！</span>不然後果自行負責～）：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-error-status-2.jpg'><br><br>
    我們已經修改好衝突，依提示先執行「git add a.txt」，再執行「git revert --continue」來繼續復原的操作，這時候會跳出文字編輯器，要你<span class='point-red'>輸入這次 revert
      要 commit 的內容</span>，
    它預設幫我們寫好是 revert 的版本的 commit 內容以及編號，我們就使用預設值，直接儲存後退出。如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-revert-commit.jpg'><br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-status.jpg'><br><br>
    查看歷史紀錄會看見我們再上傳了一筆 commit，這時候我們來看看「a.txt」、「b.txt」檔案的內容，如下圖：<br><br>
    <img class='img' src='assets\posts\gitInstance3\revert-show a b.jpg'><br><br>
    「a.txt」檔案的內容為剛剛解決衝突的結果，而「b.txt」檔案的內容呢？並<span class='point-red'>沒有因為剛剛的 revert
      動作而復原</span>成空檔案，這就是使用「revert」與「reset」的不同之處～<br><br>

  </div>
  <br>
  <hr class="border-two" />

  <!--結語-->
  <div>
    恭喜通關～我們終於解決復原變更、復原版本兩大 BOSS 啦～((歡呼<br><br>
    撿一下戰利品吧～以下是本日重點整理：<br><br>
    <ul>
      <li>查看歷史操作：git reflog</li>
      <li>reset
        <ul>
          <li>取消索引：
            <ul>
              <li>git reset</li>
              <li>git reset HEAD</li>
            </ul>
          </li>
          <li>復原至最新版本：git reset HEAD^</li>
          <li>復原至前 N 版本：git reset HEAD~N（N 為正整數）</li>
          <li>復原至前 N 操作：git reset HEAD@&#123;N&#125;（N 為正整數）</li>
          <li>復原至上一次危險操作（Merge、Reset、Revert、Rebase）前：git reset ORIG_HEAD</li>
          <li>常用參數：
            <ul>
              <li>--mixed（預設）: 將復原的更動合併到工作目錄中</li>
              <li>--soft：將復原的更動合併到索引中</li>
              <li>--hard：將復原的更動直接刪除，且清空索引與工作目錄</li>
              <li>--patch／-p：部分復原（add 操作也適用）</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>檔案或資料夾復原至索引：git checkout -- &lt;file&gt;</li>
      <li>檔案或資料夾復原至歷史版本或分支：git checkout &lt;編號／分支名稱&gt; &lt;file&gt;</li>
      <li>僅復原某一版本更動：git revert &lt;編號&gt;</li>
    </ul>

    下一次將介紹有點複雜的重定基底（Rebase），敬請期待～～～<br><br>
    今天的分享就到這邊，<span class='point-red'>有遺漏、錯誤或是建議觀迎 Email 告訴我喔～謝謝❤</span><br>
  </div>
  <br>
  <hr class="border-two" />

  <!--參考資料-->
  <div>
    <h3 class='sub-title'>參考資料</h3>
    <ul>
      <li><a href='https://www.udemy.com/course/git-newbie/' target='_blank'>[git]Will 保哥 - 精通 Git 版本控管：從入門到進階</a></li>
      <li><a href='https://backlog.com/git-tutorial/tw/stepup/stepup6_3.html' target='_blank'>[git]連猴子都能懂的 Git 入門指南 -
          復原常用參數</a></li>
      <li><a href='https://www.itread01.com/content/1548587342.html' target='_blank'>[git]ITREAD01 - Git 中 HEAD 和
          ORIG_HEAD 指標指的是什麼</a></li>
      <li><a href='https://dotblogs.com.tw/wasichris/2016/04/29/225157' target='_blank'>[git]搞搞就懂 - Reset: mixed, hard
          and soft</a></li>
      <li><a href='https://airfishqi.blogspot.com/2014/04/github-git-add-p-git-stash.html' target='_blank'>[git]烏龜漫遊 -
          git add -p 及 git stash</a></li>
      <li><a href='http://3ctipsmemo.blogspot.com/2018/06/html.html' target='_blank'>[html]3C 健忘人 - HTML 顯示特殊字元與符號編碼</a>
      </li>
    </ul>
  </div>
  <h5 class="sign">
    赤 2019-11-02 23:02<br>
  </h5>

</div>
