<!-- .navbar-expand-{sm|md|lg|xl}決定在哪個斷點以上就出現漢堡式選單 -->
<!-- navbar-dark 文字顏色 .bg-dark 背景顏色 -->
<nav class="navbar  navbar-light block-header">

  <!-- .navbar-toggler 漢堡式選單按鈕 -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <!-- .navbar-toggler-icon 漢堡式選單Icon -->
  </button>

  <!--webName-->
  <h1 class='header-title'>
    Welcome to <span style='color:tomato'>akaSchool</span>
  </h1>
  <!--作者-->
  <span class='header-detail'>作者：aka／赤ちゃん</span>


  <!-- .collapse.navbar-collapse 用於外層中斷點群組和隱藏導覽列內容 -->
  <!-- 選單項目&漢堡式折疊選單 -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--搜尋-->
    <form class="form-inline my-2 my-lg-0" (submit)="loadPosts()">
      <input class="form-control mr-sm-2" type="text" name='search' placeholder="Search" aria-label="Search"
        [(ngModel)]="searchText">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav mr-auto">
      <!-- active表示當前頁面 -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" skipLocationChange>{{homeTitle.title}}<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngFor="let post of postsHasNoCategory">
        <a class="nav-link" href="javascript:void(0)" (click)='goToPost(post)'
          style="white-space: pre-line;">{{post.title}}</a>
      </li>
      <!-- .dropdown Navbar選項使用下拉式選單 -->
      <li class="nav-item dropdown" *ngFor="let category of categories">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">{{category}}</a>
        <!-- .dropdown-menu 下拉選單內容 -->
        <div class="dropdown-menu" [class.show]="searchText != ''" aria-labelledby="navbarDropdownMenuLink">
          <div *ngFor="let post of postsHasCategory; let i = index">
            <button *ngIf='post.category === category' class="dropdown-item" (click)='goToPost(post)'
              style="white-space: pre-line;"> {{post.title}} </button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</nav>
