<!--標頭-->
<div style="text-align:center">
  <h1 class='header-title'>
    Welcome to <span style='color:tomato'>akaSchool</span> !
  </h1>
  <h3 class='header-detail'>作者：aka／赤ちゃん</h3>
</div>
<!--選擇文章-->
<div style="text-align: right">
  傳送到
  <select name="selectPost" [(ngModel)]="selectPost" >
    <option *ngFor="let postTitle of postTitles" [ngValue]=postTitle>
        {{postTitle.title}}
    </option>
  </select>
  <button (click)="goToPost()">Go</button>
</div>
<!--簡介-->
<div class="header-block">
<div>
  <h2 class='title'>akaSchool ?</h2>
  <span class='point-red'>「從這裡重新開始吧！從一，不，從零開始！」雷姆琳的話要好好遵守❤</span><br><br>
  這裡將會是爆肝工程師從零開始的日常，我將會一點一滴記錄我的所見所聞，冷熱知識((?<br><br>
  目前以 Angular(web) 教學為主～當然免不了有許多廢話啦:P<br><br>
  歡迎持續追蹤＞＜!!
  <h5 class="sign">赤 2019-08-28</h5>
</div>
</div>
