<header>
  <!-- .navbar-expand-{sm|md|lg|xl}決定在哪個斷點以上就出現漢堡式選單 -->
  <!-- navbar-dark 文字顏色 .bg-dark 背景顏色 -->
  <nav class="navbar  navbar-light block-header" style="box-shadow:4px 4px 4px rgba(255, 207, 220, 0.5);">


    <!-- .navbar-toggler 漢堡式選單按鈕 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      style="border: none;width: 100%;background-color: none;" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <!--webName-->
      <div class='row'>
        <h1 class='header-title col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3'>akaSchool</h1>
        <span class='header-subtitle  col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'>*爆肝工程師從零開始的日常*</span>
        <!--作者-->
        <div class='header-detail col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3'>作者：aka／赤ちゃん</div>

      </div>
      <span class='d-lg-none' style='font-size: 12px; color: gray;'>↑&nbsp;點我展開文章區</span>
    </button>


    <!-- .collapse.navbar-collapse 用於外層中斷點群組和隱藏導覽列內容 -->
    <!-- 選單項目&漢堡式折疊選單 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <br>
      <app-overview></app-overview>
      <app-menu></app-menu>
    </div>
  </nav>

</header>
