
.navbar {
  color: lightpink;
}
.header-title {
  padding-left: 10%;
  color:red;
    /* background-color: gainsboro; */
  text-align: left;
  align-self: center;

}
.header-subtitle {
  color:red;
    /* background-color: gainsboro; */
  text-align: left;
  align-self: center;

}


.header-detail {
  color: mediumvioletred;
  text-align: right;
  align-self: flex-end;

}
