<div>
    <h2 class='title'>{{title}}</h2>
    <!--前言-->
    <!-- 標題越來越長了((扶額<br><br>
    歡迎來到版控個人副本2，請問有獲得「版控個人副本1」的戰利品了嗎？沒有的話就先通關吧：<br><br>
    <a routerLink='' [queryParams]='{ post: postGitInstance.path }' target='_blank'>{{postGitInstance.title}}</a><br><br>
    在這裡將會有三頭 Boss（版控觀念釐清、比較差異、修補檔）等著大家唷！
    本次副本可以獲得的成就有以下：<span class='point-red'>釐清工作目錄、索引、建立版本、最新版本各自的定義，以及如何比較差異、運用修補檔（Patch）。</span><br><br>
    將<span class='point-red'>於 Git Bash 環境下執行 Git 操作</span>，讓我們開始<del>打怪</del>吧！<br><br>
    想複習一下 Git 版本控管的基本操作，歡迎參考下列文章～要達一定等級才能開始打副本啊！<br><br>
    <a routerLink='' [queryParams]='{ post: postGitInitial.path }' target='_blank'>{{postGitInitial.title}}</a><br><br>
   -->
    <!--教學導覽-->
    <table class='block-catalog'>
      Coming soon ...
      <!-- 本日教學導覽
      <ol>
        <li value="0">版控觀念釐清
        </li>
      </ol> -->
    </table>
    <!-- <br>
    <hr class="border-two" /> -->
    <!--/教學導覽-->
    <div>
    </div>
    <br>
    <hr class="border-two" />

    <!--結語-->
    <!-- <div>
        今天的分享就到這邊，<span class='point-red'>有遺漏、錯誤或是建議歡迎 Email 告訴我喔～謝謝❤</span><br>
      </div>
      <br>
      <hr class="border-two" /> -->

    <!--參考資料-->
    <!-- <div>
        <h3 class='sub-title'>參考資料</h3>
        <ul>
          <li><a href='https://www.udemy.com/course/git-newbie/' target='_blank'>[git]Will 保哥 - 精通 Git 版本控管：從入門到進階</a></li>
        </ul>
      </div>
      <h5 class="sign">
        赤 2019-xx-xx xx:xx<br>
      </h5> -->

  </div>
