
  <div>
    <h2 class='title'>{{title}}</h2>
    <div>
      帶著大家一步一腳印的時候到了！<br><br>
      首先，我想來談談成為前端工程師要具備的條件((其實只是列我想學的部分:P
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>Http協定</li>
      </ul>
      接著，為了能輕鬆開發，要摸熟一些方便的開發工具～
      <ul>
        <li>Visual Studio Code</li>
        <li>Angular</li>
      </ul>
      再來，是要記錄自己學習的成果，所以要學會版控
      <ul>
        <li>git</li>
        <li>gitHub</li>
      </ul>
      最後，需要紀錄更多資料，保留一些訊息，例如跟大家的互動留言啊，應該要存在資料庫的文章等等<br><br>
      所以需要資料庫及 API 的知識：
      <ul>
        <li>
          SQL
        </li>
        <li>
          ASP.net
        </li>
      </ul>
    </div>
    <div>
      之後如果還有想學的東西會再一一列出～<br><br>
      目前還在設計版面跟架構的階段，暫時不會更新太快，盡量會日更的！<br><br>
      不日更就會開始懶惰了((滾滾<br><br>
      まだね！
    </div>
    <h5 class="sign">赤 2019-08-29 23:53</h5>
  </div>
