/* You can add global styles to this file, and also import other style files */
/**block */
.block-main {
  background-color: cornsilk
}

.block-catalog {
  background-color: linen
}

.block-code {
  color: white;
  background-color: black
}

/**post text */
.title {
  color: brown
}
.sub-title {
  color: deeppink
}
.sign {
  color:mediumvioletred;
  text-align: right
}

.point-red {
  color: red;
  font-weight:bold;
}
/**img */
.img:not(.cmd) {
  height: 100%;
  width: 100%;
  border-width:2px;
  border-color:black;
  border-style:solid;
}

.img.cmd {
  height: 100%;
  width: 100%;
  border-width:2px;
  border-color:black;
  border-style:solid;
}
/**tag */
select {
  width: 50%;
}
hr .border-two {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

ol { counter-reset: item -1 }
ol li{ display: block; }
ol li:before { content: counters(item, ".") ". "; counter-increment: item }
