/* You can add global styles to this file, and also import other style files */
/**font style */
div{
  font-family:  'Courier New', 'monospace', 'Arial', '微軟正黑體', '黑體繁', '標楷體', '新細明體';
}

/**wrapper */
.two-col-wrapper {
  /* margin: 120px; */
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  width: 100%;
  align-self: center;
  /* float: left; */
  display: block;
}
.wrapper-left{
  position: fixed;
  left: 0 !important;
    margin: 0 !important;
  padding: 0 !important;
  display: block;
}

/**block */
.postlayout{
  background-color: whitesmoke;
}
.block-header {
  background-color: rgb(255, 244, 247);
  box-shadow:4px 4px 4px rgba(255, 207, 220, 0.5);
}
.block-overview {
  background-color: cornsilk;
  box-shadow:4px 4px 2px rgba(255, 234, 174, 0.5);
}
.block-menu{
  background-color: white;
  box-shadow:4px 4px 2px rgb(255, 220, 220);
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
.block-main{
  background-color: white;
  box-shadow:4px 4px 2px rgb(255, 220, 220);
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
.block-catalog {
  background-color: linen;
  padding-right: 1%;
  padding-left: 1%;
  display: block;

}

.block-code {
  color: white;
  background-color: black
}

.block-tab {
  margin-left : 2em;
  margin-right: 2em;
}
/**post text */
.title {
  color: brown;
  text-align:justify;
}
.sub-title {
  color: deeppink
}
.sign {
  color:mediumvioletred;
  text-align: right
}

.point-red {
  color: red;
  font-weight:bold;
}
/**img */
.img:not(.cmd) {
  height: 100%;
  width: 100%;
  border-width:2px;
  border-color:black;
  border-style:solid;
}

.img.cmd {
  height: auto;
  width: auto;
  border-width:2px;
  border-color:black;
  border-style:solid;
}
/**table */
.block-table {
  text-align: left;
  border-width: 1px;
  border-color:black;
  border-style: dashed;
}
.block-table tr, .block-table td{
  text-align: left;
  border-width: 1px;
  border-color:black;
  border-style: solid;
  padding: 10px;
}
.block-table thead th{
  text-align: center;
  border-width: 1px;
  border-color:black;
  border-style: solid;
}
/**tag */
header{
  /* position: fixed;
  width: 100%;
  height: 100px;
  display: block;
  top: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 999 !important;
  -moz-transition: all 0.12s;
  -webkit-transition: all 0.12s;
  -ms-transition: all 0.12s;
  -o-transition: all 0.12s;
  transition: all 0.12s; */
}
select {
  width: 50%;
}
hr.border-two {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
}
hr.border-s {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background: pink;
}


ol { counter-reset: item -1 }
ol li{ display: block; }
ol li:before { content: counters(item, ".") ". "; counter-increment: item }


#gotop {
  position:fixed;
  z-index:90;
  right:30px;
  bottom:30px;
  display:none;
  width:50px;
  height:50px;
  color:#fff;
  background: pink;;
  line-height:50px;
  border-radius:50%;
  transition:all 0.5s;
  text-align: center;
  box-shadow: 0 2px 5px 0
}
