/* You can add global styles to this file, and also import other style files */
.header-block {
  background-color: cornsilk
}

.title {
  color: brown
}

.sign {
  color:mediumvioletred;
  text-align: right
}
