<!-- 4. git pull/push 基本技巧 -->
<div>
  <h2 class="title">{{title}}</h2>
  <b>來做自己專屬的網站吧！</b><br><br>
  首先，選擇你想用什麼語言、框架、工具去完成你的網站<br><br>
  當然我就選擇 Angular 這套框架啦～((工作工作
  <!--簡介Angular-->
  <div>
    <h3 class="sub-title">Angular ?</h3>
    Angular 為開發前端的框架。是一款由 Google 維護的開源 JavaScript 函式庫，用來協助單一頁面應用程式運行。
    ［by: <a href='https://zh.wikipedia.org/wiki/Angular' target="_blank">維基百科: Angular</a>］<br><br>
    主要由三個東西組成：<b>HTML</b>、<b>TypeScript(JavaScript)</b>、<b>CSS</b><br><br>

    想當然，最好是都先摸熟以上三者之後，再來碰 Angular 啦～不過我都是邊做邊學啦XD<br><br>
    如果你想要摸熟的話，我這邊提供幾個我當初有參考的學習網站：
    <ul>
      <li>
        Angular ↓你可以離開akaSchool去尋找札實的教學嗚嗚嗚QQ
        <ul>
          <li><a href='https://angular.io/docs' target="_blank">Augular 官方教材</a>(英文)</li>
          <li><a href='https://angular.tw/docs' target="_blank">Augular 官方教材</a>(中文)</li>
          <li><a href='https://ithelp.ithome.com.tw/users/20090728/ironman/1600' target="_blank">Angular 深入淺出三十天</a></li>
        </ul>
      </li>
      <li>
        前端
        <ul>
          <li><a href='https://developer.mozilla.org/zh-TW/docs/Learn/Getting_started_with_the_web' target="_blank">Web
              入門 </a></li>
          <li><a href="https://blog.miniasp.com/post/2016/02/02/JavaScript-novice-advice-and-learning-resources"
              target="_blank">我要成為前端工程師！給 JavaScript 新手的建議與學習資源整理</a><br><br> </li>
        </ul>
      </li>

      <li>
        程式語言
        <ul>
          <li><a href='http://web.nchu.edu.tw/~jlu/tutorials.shtml' target="_blank">Tutorials</a></li>
          <li><a href='http://www.runoob.com/' target="_blank">Runoob.com</a></li>
        </ul>
      </li>
    </ul>
    建議還是要有以上三者的基礎，不過不需要學很深<br><br>
    套用<a href='https://hubermovie.com/aboutus' target="_blank">六指淵</a>的話：「<span
      class="point-red">不用很厲害才開始，要開始了才會很厲害！</span>」<br><br>
    有沒有突然燃起鬥志啊！<br><br>
    再說很懶的話，也可以直接跟著我開始，遇到不懂的再回去翻翻資料也行，我就是這樣<br><br>
    好！那我們就開始吧！
  </div>
  <br><hr class="border-two" />
  <!--Class-->
  <table class='block-catalog'>
    本日教學導覽
    <ol>
      <li>Angular 環境建置</li>
      <li>建立 Angular 專案 & 部屬</li>
      <li>Git、GitHub 版控建置</li>
      <li>完成網站吧！將 Angular 專案放進 Github Pages</li>
    </ol>
  </table>
  <br><hr class="border-two" />
  <!--1. Angular 環境建置 -->
  <div>
    <h3 class="sub-title">1. Angular 環境建置</h3>
    <b>Step 1：至官網下載 <a href='https://nodejs.org/' target="_blank">Node.js</a>
      與開發工具（<a href='https://code.visualstudio.com/' target="_blank">Visual Studio Code</a>）</b><br><br>
    需使用 Node.js 的工具下載 Angular CLI（Step2 會介紹）唷！<br><br>
    （Node.js是一個能夠在伺服器端運行 JavaScript 的開放原始碼、跨平台 JavaScript 執行環境
    ［by: <a href='https://zh.wikipedia.org/wiki/Node.js' target="_blank">維基百科: Node.js</a>］）<br><br>
    VSCode（Visual Studio Code）則為開發工具，對於撰寫程式、版控都非常方便！<br><br>
    （也可選擇較擅長的開發工具）<br><br>

    <b>Step 2：下載 Angular CLI</b><br><br>
    於命令列視窗（cmd）打上下面指令，接著等它跑完就安裝完成了～（遇到詢問的就 yes 到底）<br><br>
    <div class='block-code'>npm install -g @angular/cli</div><br>
    Angular CLI 為命令列工具，可以輕鬆於命令列視窗下指令去創建、新增、操作 Angular 的專案
    <ul>
      <li>[npm install]：Node.js下載指令</li>
      <li>[-g]：global的縮寫，為全域下載，本台電腦任何地方皆可使用（如不加，則僅下載的目錄下可使用）</li>
      <li>[@angular/cli]：要下載的檔案（Angular CLI）</li>
    </ul>

    <b>Step 3：於VS Code 下載 Angular Extension Pack（will 保哥）擴充套件</b><br><br>
    打開 VSCode，在左側選單欄中找到<b>Extensions</b>，進入後，搜尋「<span class='point-red'>Angular Extension Pack</span>」<br><br>
    找到「will 保哥」的套件，點選 install 即可<br><br>
    這個套件自動安裝好這十幾個好用、實用、必用的 Angular 相關擴充套件，快謝保哥！！<br><br>
    <img class='img' src='assets\posts\helloWebsite\angular-will pack.jpg'><br><br>

    完成以上步驟後，就準備好 Angular 的開發環境囉！
  </div>
  <br><hr class="border-two" />
  <!--2. 建立 Angular 專案 & 部屬-->
  <div>
    <h3 class="sub-title">2. 建立 Angular 專案 & 部屬</h3>

    <b>Step 1：建立專案</b><br><br>
    於命令列視窗（cmd）打上下面指令，接著會詢問你是否要加上 routing 以及使用的裝飾樣式，這裡就先「yes」然後選擇「CSS」吧！<br><br>
    <div class='block-code'>ng new test</div>
    <ul>
      <li>[ng]：Angular CLI 指令</li>
      <li>[new]：創建一新專案</li>
      <li>[test]：專案名稱，可以取你尬意的</li>
    </ul>
    <img class='img cmd' src='assets\posts\helloWebsite\angular-new angular.jpg'><br><br>

    <b>Step 2：開啟 Angular 頁面</b><br><br>
    進入專案中，於命令列視窗打上下面指令，接著打開任一瀏覽器（Chrome），於網址列輸入「<a href='localhost:4200/' target="_blank">localhost:4200</a>」<br><br>
    能看到顯示出Angular初始畫面，就代表Angular專案以建置成功囉！<br><br>
    <div class='block-code'>ng serve</div>
    or
    <div class='block-code'>npm start</div>
    <ul>
      <li>[ng serve]：建置當前目錄的 Angular專案，<span class='point-red'>使用全域的 Angular CLI 版本建置</span></li>
      <li>[npm start]：執行 ng serve，建置當前目錄的 Angular專案，<span class='point-red'>使用當前專案的 Angular CLI 版本建置</span>（下一篇會介紹）</li>
    </ul>

    <b>Step 3：部屬 Angular 專案</b><br><br>
    進入專案中，於命令列視窗打上下面指令，等它跑好就部屬好了～<br><br>
    預設部屬於專案中的 <span class='point-red'>dist</span> 檔案中（下一篇會詳細介紹部屬完成的檔案）<br><br>
    <div class='block-code'>ng build --prod</div>
    <ul>
      <li>[build]：部屬當前目錄的 Angular專案，使其可以發行</li>
      <li>[--prod]：壓縮後部屬，即移除空白字元、空行等。部屬後的檔案的檔名掛上後綴</li>
    </ul>

  </div>
  <br><hr class="border-two" />
  <!--3. Git、GitHub 版控建置-->
  <div>
    <h3 class="sub-title">3. Git、GitHub 版控建置</h3>
    以後網站可能需要多人一起經營、開發，為了能方便於不同電腦上撰寫我們的網站<br><br>
    所以我們需要共享專案，這時候版控就很重要了！<br><br>
    （現在只簡單介紹 git 的基礎用法，之後還會另開頁面做 git 教學唷！）<br><br>

    <b>Step 1：至官網下載<a href='https://git-scm.com/downloads' target="_blank">git</a></b><br><br>
    安裝就都使用預設值，一路下一步到底就對了！！<br><br>
    git 是一個<b>分散式版本控制軟體</b>，最初目的是為更好地管理 Linux 核心開發而設計。
    ［by: <a href='https://zh.wikipedia.org/wiki/Git' target="_blank">維基百科: Git</a>］<br><br>

    <b>Step 2：至官網註冊<a href='https://git-scm.com/downloads' target="_blank">GitHub</a></b><br><br>
    我們需要一個平台去控管我們的專案，可以看到修改的內容、分支等等，註冊就不多闡述～
    GitHub 是<b>透過 Git 進行版本控制的軟體原始碼代管服務平台</b>
    ［by: <a href='https://zh.wikipedia.org/wiki/GitHub' target="_blank">維基百科: GitHub</a>］<br><br>

    <b>Step 3：將 Angular 專案丟上版控（github）</b><br><br>
    首先，需於 GitHub 上建立專案（repository），如下圖<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\github-new repository.jpg'><br><br>
    輸入好專案名稱（<b>建議與本地端專案名稱相同</b>），可以選擇要公開或是保密，如下圖<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\github-create repository.jpg'><br><br>
    上圖藍色框起來的部分，使用預設值即可，即不建立 .gitignore 跟 license<br><br>
    　<ul>
      <li>.gitignore：不加入版控的檔案會列於當中，Angular 專案預設以建立此檔案</li>
      <li>license：開源軟體授權條款（詳細請看：<a href='https://progressbar.tw/posts/61'
          target="_blank">在開源時代的興起下，如何透過License共享並保有權益</a>）</li>
    </ul>
    <br>
    點選「Create Repository」後就建立好一個 GitHub 專案啦～而如何把現在本地端的專案丟到 GitHub 版控中呢？<br><br>
    由於 Angular 預設以配置好 git 文檔（於隱藏的資料夾 .git），所以只需於 Angular 專案下，執行以下指令就完成了喔～<br><br>
    <div class='block-code'>
      git config --global user.email "you@example.com"<br>
      git remote add origin https://github.com/yourUserName/repositoryName.git<br>
      git push -u origin master
    </div>
    　<ul>
      <li>[git]：git 版控工具</li><br>
      <li>[config --global user.email "you@example.com"]：</li><br>
      [config]：取得和設定 git 的組態參數，這裡是為了登入用<br><br>
      [user.email "you@example.com"]：使用 email 登入 GitHub，也可使用「user.name "Your Name"」以使用者名稱登入<br><br>
      <li>[remote add origin https://github.com/yourUserName/repositoryName.git]：</li><br>
      [remote]：指向遠端版本控制倉庫，就是指到版控平台（GitHub）上<br><br>
      [add origin]：加入遠端版本控制倉庫的路徑，選擇剛剛創建好的 GitHub 專案，讓本地端 Angular 的專案聯繫上<br><br>
      [https://github.com/yourUserName/repositoryName.git]：即剛剛創建好的 GitHub 專案路徑
      （yourUserName：GitHub 註冊時的 username，repositoryName：GitHub 專案名稱）<br><br>
      <li>[push]：將本地端檔案丟進版控，即將檔案上傳到分支上（簡單來說就是丟上 GitHub 平台，不過這真的是簡而言之）</li><br>
      <li>[-u origin master]：</li><br>
      [-u]：相等於「--set-upstream」，即設定 upstream，可以使目前本地端開始追蹤指定的遠端分支<br><br>
      [origin master]：指定的遠端分支為 master（master 為分支名稱，預設的主要分支為 master，也可自行改名）
    </ul>
    可以到 GitHub 上看是不是已把本地端的檔案都丟上專案了呢？很酷吧！<br><br>
    後續將會一一介紹如何運用　git 做版控～<br><br>
  </div>
  <br>
  <hr class="border-two" /><br>
  <!--4. 完成網站吧！將 Angular 專案放進 Github Pages-->
  <div>
    <h3 class="sub-title">4. 完成網站吧！將 Angular 專案放進 Github Pages</h3>
    由於我決定使用 GitHub 來架設個人網站，故需於 GitHub 上建立一專案（repository），並設其為<b>GitHub Pages</b><br><br>
    <b>Step 1：建立 Github Pages</b><br><br>
    建立 GitHub 專案方法如上述「3. Git、GitHub 版控建置」的「Step 3：將 Angular 專案丟上版控（github）」<br><br>
    不一樣的點是，這次我們專案名稱要限制囉！<br><br>
    專案名稱必須是「<span class='point-red'>username.github.io</span>」（username 為使用者名稱），如下圖，其餘設定參見「3. Git、GitHub 版控建置」的「Step 3：將 Angular 專案丟上版控（github）」<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\github-create github pages.jpg'><br><br>
    其實 username 的位置可以任意取名，只要結尾是「.github.io」即可<br><br>
    只是製作出的網站網址就會是「username/yourWebsiteName.github.io」，依然會掛上使用者名稱，我個人是覺得很醜啦！<br><br>
    建立好後，點選專案的 settings<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\github-github pages-settings.jpg'><br><br>
    往下滾找到 Github Pages，會有如圖的一行文字，就可以看到自己的網站網址已經OK囉！<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\github-github pages-url.jpg'><br><br>
    目前沒有放任何檔案，所以開啟網址是空白頁面是正常的喔～<br><br>

    <b>Step 2：將 Angular 專案放進 Github Pages</b><br><br>
    我們網站建立完成了，只剩把內容放進去啦！<br><br>
    這步驟超級超級超級～簡單，跟前面比:P<br><br>
    還記得我們在「2. 建立 Angular 專案 & 部屬」的「Step3：部屬 Angular 專案」部屬好 Angular 專案了嗎～<br><br>
    沒錯！只要將部屬出來在 dist 檔案底下的所有檔案，放到 Github Pages 的遠端分支上就大功告成囉！<br><br>
    接下來讓我帶大家一步步做～<br><br>
    首先，需要讓本地端連上遠端分支。在 GitHub 上，進到 Github Pages 專案中<br><br>
    把下圖中的網址複製，貼到命令列視窗，Enter 執行指令，跑完就會看到相連的專案資料夾啦～<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\website-clone.jpg'><br><br>
    接著，把 dist 底下的檔案全部複製起來：<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\website-dist.jpg'><br><br>
    再來，把它全部貼到 Github Pages 的專案目錄下：<br><br>
    <img class='img cmd' src='assets\posts\helloWebsite\website-github.io.jpg'><br><br>
    最後，執行以下指令，把全部更新丟上遠端分支就大功告成囉！（這裡只示範最簡單最基本丟上版控的操作，以後會詳細介紹）<br><br>
    <div class='block-code'>
      git add .<br>
      git commit -m "initial website"<br>
      git push
    </div>
    <ul>
      <li>[add .]：將所有變更都加入</li>
      <li>[commit -m "initial website"]：為這次丟上去的變更內容寫一些說明，initial website 為訊息內容</li>
    </ul>
    接下來，打開剛剛的網址，當看到 Angular 專案在上面，你就成仁了((x<br><br>
    啊！我是說成功啦～第一關的 BOSS 解決囉！<br><br>
  </div>
  <br><hr class="border-two" />
  <!--結語-->
  現在，你擁有屬於自己的網站啦～<br><br>
  你可以把你的網站網址分享出去，讓大家知道你好棒棒，就跟我一樣❤<br><br>
  今天的分享就到這邊，<span class='point-red'>有遺漏、錯誤或是建議觀迎 Email 告訴我喔～謝謝❤</span>
  <br><hr class="border-two" />
  <!--參考資料-->
  <div>
    <h3 class="sub-title">參考資料</h3>
    <ul>
      <li><a href='https://www.nodebeginner.org/index-zh-tw.html#javascript-and-nodejs'>[node.js]Node入門</a></li>
      <li><a href='https://poychang.github.io/note-angular-cli/'>[angular cli]Angular CLI 操作筆記</a></li>
      <li><a
          href='https://git-scm.com/book/zh-tw/v1/Git-%E5%9F%BA%E7%A4%8E-%E8%88%87%E9%81%A0%E7%AB%AF%E5%8D%94%E5%90%8C%E5%B7%A5%E4%BD%9C'>[git]與遠端協同工作</a>
      </li>
      <li><a href='https://zlargon.gitbooks.io/git-tutorial/content/remote/upstream.html'>[git]設定 Upstream</a></li>
      <li><a
          href='https://git-scm.com/book/zh-tw/v2/%E9%96%8B%E5%A7%8B-%E5%88%9D%E6%AC%A1%E8%A8%AD%E5%AE%9A-Git'>[git]初次設定
          Git</a></li>
      <li><a href='https://gitbook.tw/chapters/github/using-github-pages.html'>[gitHub pages]使用 GitHub 免費製作個人網站</a></li>
      <li><a
          href='https://lazyteatime.like.community/2019/03/13/%E3%80%8A%E5%A6%82%E4%BD%95%E5%9C%A8github%E6%9E%B6%E7%B6%B2%E7%AB%99%E3%80%8B%EF%BC%9A%E7%B0%A1%E6%98%93%E6%95%99%E5%AD%B8/'>[gitHub
          pages]《如何在GitHub架網站》：簡易教學</a></li>
      <li><a href='http://forever0411.blogspot.com/2017/05/hr.html'>[css]漂亮的水平分隔線➖，利用 CSS</a></li>
      <li><a href='https://www.minwt.com/webdesign-dev/css/17780.html'>[css]CSS3選擇器 :not() 讓CSS也支援判斷的機制</a></li>
      <li><a href='http://www.webtech.tw/info.php?tid=100'>[css]CSS border 邊框設計</a></li>
    </ul>
  </div>
  <h5 class="sign">赤 2019-08-30 17:50</h5>
</div>
